@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "M PLUS Rounded 1c", system-ui, sans-serif;
    font-weight: 500;
  }
}

.animated {
  animation: spinn 2s infinite linear;
}

@keyframes spinn {
  to {
    transform: rotate(360deg);
  }
}
